*{
	box-sizing: border-box;
	font-family: proximathin;
}

@font-face {
	font-family: proximathin;
	src: url('font/proxima thin/Proxima Nova Thin.otf');
}


/* sobreposições do bootstrap */
a:hover{	
	color: #16FFBF !important;
}

.elemento-menu{
	color: #FFFFFF !important;
}

.row{
	margin-right: 0 !important; 
}

/* body */
.secao{
	width: 100%;
	margin-top: 5%;
	text-align: center;
}

.titulo{	
	font-size: 3em;
}

.sub-titulo{
	font-size: 2em;
}

.divisao{
	width: 10%;
	size: 20px;
}

/* MENU */
.menu .logo{
	height: 100%;
}

/* HOME */
.picture{
	width: 100%;
	margin-top: -25px;
	opacity: 0.5; /* transparencia */	
}

.container-frase{
	width: 100%;
	height: 100%;	
	bottom: 0;
	right: 0;	
}

.container-frase .frase-destaque{	
	font-size: 3em;
	color: #16FFBF;	
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
	text-align: center;			
}

.container-frase .frase-destaque .ola{
	font-size: 4em;
}

/* SERVIÇOS */
.servicos .titulo-servico{
	font-size: 1.5em;
	font-weight: bold;
	color: #423f4C;
}

.servicos .descricao-servico{
	font-size: 1.25em;
	color: #9595C6;
}

.servicos .img-servico{
	width: 25%;
}

.servicos .slot-servico{
	width: 100%;
}

/* PORTFÓLIO */

.portfolio{
	background-color: #FBFBFB;
	padding-top: 5%;

}

.portfolio .img-portfolio{
	width: 100%;
}

.portfolio .linha-portfolio{
	margin-top: 2%;
}

/* SOBRE */
.sobre{

}

.sobre .img-sobre{
	width: 100%;
}

.sobre .titulo-sobre{
	font-size: 3em;
	width: bold;
	text-align: left;
}

.sobre .descricao-sobre{
	font-size: 1.5em;
	text-align: left;
}

.sobre .sobre-mim{
	margin-top: 5%;
}


.sobre .slot-ferramenta{
	padding-left: 5%;
	padding-right: 5%;
}
.sobre .barra-progresso{
	width: 100%;
	/*color: #16FFBF !important;	
	background: #FFFFFF !important;*/
}

.sobre progress {
	color: #16FFBF !important;
}


.sobre .titulo-ferramenta{
	text-align: left;
	font-size: 2em;
}

.sobre .porcentagem-ferramenta{
	text-align: right;
	font-size: 1.5em;
}

/* CONTATO */
.contato{
	background-color: #FBFBFB;
	padding-top: 5%;
}

.contato .titulo-contato{
	font-size: 1.5em;
	margin: 5%;
}

.contato .email, .telefone{
	font-size: 2em;
}

.contato .img{
	width: 10%;
}

/* FINAL */
.final-pagina{
	margin-top: 5%;
	width: 100%;
	background: #000;
	height: 100px;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	padding: 2%;
}

/******************** Medias Query *****************/
@media (max-width: 940px){	
	.container-frase .frase-destaque{
		font-size: 2em;
	}
}

@media (max-width: 767px){

	.container-frase .frase-destaque{	
		font-size: 1.5em;				
		top: 60%;	
	}

	.elemento-menu{	
		text-align: center;	
	}

	.logo{
		align-self: center;
	}

}